footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Special Elite', cursive;
    font-weight: 900;
    background-color: cornflowerblue;
    height: 25vh;
}

footer .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

footer .footer .social-media a {
    color: #000000;
    background-color:#ffffff;
    padding: 10px;
    font-size: 30px;
    border: 1px solid black;
}