/*for all pages*/

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

/**for navigation bar**/


body {
	
	background-image: radial-gradient(circle, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);

}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 10vh;
	background-color: #5d5d5a;
	font-family: 'Special Elite', cursive;
}

.logo {
	color: #e6e1e1;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 20px;
}

.nav-links{
	display: flex;
	justify-content: space-around;
	width: 40%;
}

.nav-links li {
	list-style: none;
}

.nav-links li a {
	color: #e6e1e1;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: 3px;
}

a:active, a:focus {
	outline: 0;
	border: none;
	-moz-outline-style: none;
  }

.nav-links li:hover {
	transform: scale(1.2);
}

.burger {
	display: none;
	cursor: pointer;
}

.burger div {
	width: 25px;
	height: 3px;
	background-color: #e6e1e1;
	margin: 5px;
	transition: all 0.3s ease;
}

@media screen and (max-width: 1124px) {
	.logo {
		letter-spacing: 1px;
		font-size: 14px;
	}
	.nav-links {
		width: 50%;
	}
}

@media screen and (max-width: 900px) {
	body {
		overflow-x: hidden;
	}
	.nav-links {
		position: absolute;
		right: 0px;
		height: 90vh;
		top: 10vh;
		background-color: #5d5d5a;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 50%;
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
	}
	.nav-links li {
		opacity: 0;
	}
	.burger {
		display: block;
	}
}

.nav-active {
	transform: translateX(0%);
}
@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateX(50px);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}

.toggle .line1 {
	transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
	opacity: 0;
}

.toggle .line3 {
	transform: rotate(45deg) translate(-5px, -6px);
}

::-webkit-scrollbar {
	display: none;
}

/*   design for books page    */

.search-bar {
	position: fixed;
	top: 15vh;
	right: 10vh;
	z-index: 1;
}

.search-bar input {
	padding: 3px;
}

.search-bar button {
	background-color: #343a40;
}

.table-responsive {
	position: relative;
	top: 0;
}



